@charset "utf-8";
/* CSS Document */

/* 导航栏 */
.sticky_header  { background-color: #FFF;}

/* 	导航栏 logo部分
		1、logo颜色及鼠标经过和点击效果固定颜色	*/
.sticky_header .navbar-default .navbar-brand { color: #666;}
.sticky_header .navbar-default .navbar-brand:hover { color: #666;}

/*	导航栏 导航选项部分
		1、导航选项的初始颜色
		2、导航搜索框的上边距	*/
.sticky_header .nav a{ color: #666;}

/* 轮播图 */
.main_images .col-md-12 { padding: 0px;}

/*	目录导航
		1、目录导航的边距
		2、目录导航的边框
		3、目录导航的位置
		4、选项链接的样式	*/
.asortment .col-md-12 { padding: 0px}
.asortment .navbar { padding:10px 0px; margin: 0px;}
.asortment .navbar-default { border-color: transparent;}
.asortment .nav-contents {
	text-align: center;
	float: none;
	display: table;
	margin: 0 auto;
}
.asortment a{
	font-size: 15px;
	font-family: 'Microsoft YaHei',Arial,Helvetica,sans-serif;
}
.asortment a:hover { color: #F30;}
.asortment img {
	width: 100%;
}
